/* DASHBOARD SIDEBAR */
.dashboard-layout {
  display: grid;
  grid-template-columns: 20vw auto;
  grid-template-rows: 60px calc(100vh - 60px);
}

.sidebar-heading h1 {
  font-size: 2.5vw;
  font-weight: 900;
}

.sidebar {
  grid-area: 1/1/3/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  color: #e9edc9;
  background-color: #26353d;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: left;
  gap: 35px;
  font-size: 1.2vw;
  font-family: "Baloo Chettan 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.sidebar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.my-link {
  color: #e9edc971;
}
.active {
  color: #e9edc9;
}

/* DASHBOARD NAVIGATION BAR */

.dashboard-navbar {
  background-color: #d8e3d0;
  display: flex;
  justify-content: end;
  padding-right: 80px;
  gap: 30px;
  align-items: center;
  border-bottom: 1px solid #60737e;
}

.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.profile-data {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0;
}

.profile-name p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  text-align: left;
  color: #26353d;
}

.profile-email p {
  font-family: "Inter", sans-serif;
  font-size: 10.5px;
  font-weight: 100;
  text-align: left;
  color: #2a463f;
}

/* LOADING AND ERROR MODAL */

.loading-modal,
.error-modal {
  width: 350px;
  height: 300px;
  border-radius: 10px;
  background-color: rgb(255 255 255 / 30%);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 25vh;
  right: 25vw;
  text-align: center;
  align-content: center;
  box-shadow: rgba(36, 28, 28, 0.35) 0px 5px 15px;
}

.loading-modal p,
.error-modal p {
  font-size: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  z-index: 2;
}

/* HOME CONTAINER */

.home {
  font-family: "Inter", sans-serif;
  font-style: normal;
  background-color: #d8e3d0;
  height: 100%;
  padding: 0px 30px;
  padding-top: 0px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  gap: 30px;
}

.home h1 {
  font-size: 3.2vw;
}

.home-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.dashboard-card {
  width: 270px;
  height: 180px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.card-name p {
  color: #ccd5ae;
}

.card-stats-1 {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 6px;
}

.card-number {
  font-size: 4vw;
  font-weight: 700;
}

.card-name {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card-stats-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.circle-background {
  fill: none;
  stroke: #d8e3d0;
}

.circle-progress {
  fill: none;
  stroke: #2e484b;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: small;
}

.community-card {
  gap: 10px;
  padding-left: 30px;
}
.card-reports-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

.card-single-report {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content;
}

.card-img-container {
  grid-area: 1/2/3/3;
  /* margin-left: 10px; */
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 7px;
  margin-left: 15px;
}

.card-username {
  font-size: 0.9vw;
  font-weight: 600;
  color: #84a98c80;
  text-align: right;
}

.card-title {
  font-weight: 600;
  color: #446b61;
  font-size: 1vw;
}

/* .card-title::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  color: #446b61;
  position: absolute;
} */

.home-bottom-container {
  width: 100%;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  padding: 25px 45px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.bottom-card-reports-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.bottom-card-single-report {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  width: 100%;
}

.bottom-card-title {
  font-weight: 600;
  font-size: 1.5vw;
}

.bottom-card-voteCount {
  font-size: 2vw;
  font-weight: 900;
}
