.sidebar-heading h1 {
  font-size: 2.5vw;
  font-weight: 900;
}

.sidebar {
  position: fixed;
  width: 20vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  color: #e9edc9;
  background-color: #26353d;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: left;
  gap: 35px;
  font-size: 1.2vw;
  font-family: "Baloo Chettan 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.sidebar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* position: relative; */
}

/* .sidebar-link .active::after {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
  width: 200px;
  height: 10px;
  color: black;
} */
